{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
             <div class="col-12 my-5 col-md-8 offset-md-2 border border-2 border-warning px-5  palegoldenrod">
                <div  class="text-center text-primary">
                    <h1 class="uppercase py-3 my-5">Votre profil : <span class="text-success"><strong>{{ user.pseudo }}</strong><span> ! </h1>
                     {% for message in app.flashes('notice') %}
                        <div class="flash-notice text-success mb-4">
                            <strong> {{ message }}</strong>
                         </div>
                    {% endfor %}
                </div>
                <div class="text-white">
                    <div><p>Prénom : <strong>{{user.firstname }}</strong></p></div>
                    <div><p>Nom : <strong>{{user.lastname }}</strong></p></div>
                    <div><p>Pseudo : <strong>{{user.pseudo}}</strong></p></div>
                    <div><p>Adresse : <strong>{{user.address}}</strong></p></div>
                    <div class=" mb-3">Nombre de points  : <strong>{{ user.points }}</strong> </div>
                    <div><p>Propriétaire de :</p></div>
                    {% for stuff in user.stuffs %}
                        <ul style="list-style-type:none">
                            <li>  ‣ <strong>{{stuff.name}}</strong></li>
                        </ul>
                    {% endfor %}
                    <div><a href="{{path('product_add') }}"<button type="button" class="btn btn-primary text-white mt-2 mb-5">Enregister un nouvel outil</button></a></div> 
                </div>
            </div>
        </div>
    </div>  
{% endblock %}
