{% extends 'base.html.twig' %}
{% block title %}Erreur {{status_code}} | Forbidden{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 my-5 px-5 border border-2 border-warning rounded px-5 palegoldenrod">
				<h1 class="text-center text-primary uppercase py-3  my-5">Erreur {{status_code}} | Forbidden !</h1>
				<div class="text-white">
					<h5 class="mb-3">Forbidden erreur: Vous n'avez pas la permission d'accès à ce serveur !</h5>
					<div class="mb-3">Le code d'erreur est : <strong>{{status_code}}</strong></div> 
					<div>Le texte d'erreur  est : <strong>{{status_text}}</strong></div>
					<div class="my-5 text-center"><img src="{{ asset('assets/Defaut/smileysad.jpg') }}"></div>
	        	</div>
		    </div>
	    </div>
	</div>  
{% endblock %}

